// 基本ゴシック
$gothic: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",Meiryo, "游ゴシック",YuGothic,Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;

// 基本明朝
$mincho: "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;

// 端末標準英字フォント
$en_font: 'Trebuchet MS', 'Comic Sans MS', 'Verdana', 'Arial', 'Courier New';

