.c-sp-toggle-wrap
  .c-sp-toggle
    span
    span
    span
.c-sp-nav-wrap
  ul.c-sp-nav
    li.c-sp-nav__list-wrap
      a.c-sp-nav__list ナビ1
    li.c-sp-nav__list-wrap
      a.c-sp-nav__list ナビ2
    li.c-sp-nav__list-wrap
      a.c-sp-nav__list ナビ3
    li.c-sp-nav__list-wrap
      a.c-sp-nav__list ナビ4
    li.c-sp-nav__list-wrap
      a.c-sp-nav__list ナビ5

.
  <script>
    $(".c-sp-toggle-wrap").click(function(){
      $(".header").toggleClass("is-open");
    });
  </script>