# HTTPSに統一
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# wwwなしに統一
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)(:80)?
RewriteRule ^(.*) https://%1%{REQUEST_URI} [R=301,L]


AddType image/svg+xml svg svgz
AddEncoding gzip svgz

#Basic認証
#AuthType Basic
#AuthName "Input your ID and Password."
#AuthUserFile /var/www/html/s-chop/manager/html/miracle/.htpasswd
#require valid-user

#HTTPにリダイレクト
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ http://www.example.com/$1 [R=301,L]
