section.section.section-contact
  .content-width
    h2.section-title
      |PieceCrownでアプリ開発の
      br.pc-none
      |ベストプラクティスを
    .section-contact-content
      .section-contact-text
        p
          |PieceCrown導入、お見積もり、ご質問・ご相談は
          br.sp-none
          |お気軽にこちらからお問い合わせください
      .contact-btn: .btn.btn--center
        a(href=root_path+"contact/") ご質問・お問い合わせ