if key == "top"
	- var root_path = './'
	- var image_path = './img/'
	- var css_path = './css/'
	- var js_path = './js/'
	- var template_path = './template/'
else
	- var root_path = '../'
	- var image_path = '../img/'
	- var css_path = '../css/'
	- var js_path = '../js/'
	- var template_path = '../template/'
	- var domain = 'https://jokapi.jp/crown/'
	//- - var content_d_state = "comingsoon"
-
	var pages = {
	top : {
		url : '',
		name : 'トップページ',
		title : 'PieceCrown エンタープライズのためのアプリ開発',
		description : '中規模~大規模のアプリ開発なら【PieceCrown】　IoTやオムニチャネル、最新の電子マネーなど様々なテクノロジーとの組み合わせが可能です。',
		keywords : 'アプリ開発, IoT, オムニチャネル, ショップアプリ',
		image : 'img/ogp.jpg'
	},
	feature : {
		url : 'feature/',
		name : '特長',
		title : 'PieceCrownの特長 | エンタープライズのためのアプリ開発',
		description : 'アプリ戦略を成功させるためのベストプラクティス先を見据えた未来への投資としてのアプリ開発それがPiece Crownの強みです。',
		keywords : 'アプリ開発, IoT, オムニチャネル, ショップアプリ',
		image : 'img/ogp.jpg'
	},
	omni : {
		url : 'omni/',
		name : 'オムニチャネル',
		title : 'オムニチャネル戦略 | PieceCrown エンタープライズのためのアプリ開発',
		description : 'ネットの普及により消費者の行動は多様化しています。これからの時代は、少ない行動パターンにのみ絞って企業活動を行なっていては見込客の範囲は狭まる一方です。このような背景から、アプリ等のオムニチャネル展開が重要になっていくの明白です。',
		keywords : 'オムニチャネル, アプリ開発, IoT, ショップアプリ',
		image : 'img/ogp.jpg'
	},
	iot : {
		url : 'iot/',
		name : 'IoT',
		title : 'IoT連携アプリ | PieceCrown エンタープライズのためのアプリ開発',
		description : 'これから確実に成長していくIoT分野。弊社は、アプリ開発・IoT開発共に実績からIoTと連携したアプリの開発を進めています。アプリ開発は長期的に企業へ影響する施策ですので、未来への期待度が高いIoTとの連携は大きな武器となります。',
		keywords : 'IoT, オムニチャネル, アプリ開発, ショップアプリ',
		image : 'img/ogp.jpg'
	},
	function : {
		url : 'funciton/',
		name : '機能紹介',
		title : '機能紹介 | PieceCrown エンタープライズのためのアプリ開発',
		description : 'PieceCrownは効果の出るアプリに必要な機能を網羅しています。さらに企業に合わせての特注カスタマイズもございますので、ぜひ、作りたいアプリをお聞かせください。',
		keywords : 'アプリ開発, IoT, オムニチャネル, ショップアプリ',
		image : 'img/ogp.jpg'
	},
	case : {
		url : 'case/',
		name : '導入イメージ',
		title : '導入イメージ | PieceCrown エンタープライズのためのアプリ開発',
		description : 'PieceCrownのショップ店舗導入時の機能・費用イメージをご覧頂けます。他企業でのアプリ開発費用のイメージご希望の際はお問い合わせよりご相談ください。',
		keywords : 'アプリ開発, IoT, オムニチャネル, ショップアプリ',
		image : 'img/ogp.jpg'
	},
	contact : {
		url : 'contact/',
		name : 'お問い合わせ',
		title : 'お問い合わせフォーム | PieceCrown エンタープライズのためのアプリ開発',
		description : 'PieceCrownのショップ店舗導入時のアプリイメージをご覧頂けます。聞きたいことや気になる点などありましたらお気軽に問い合わせフォームよりご質問ください。お申し込みのご相談も問い合わせフォームよりご連絡お願いします。',
		keywords : 'アプリ開発, IoT, オムニチャネル, ショップアプリ',
		image : 'img/ogp.jpg'
	}
}