.c-sp-toggle-wrap{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	cursor: pointer;
	@include mq(){
		display: block;
	}
}

.c-sp-toggle{
	position: relative;
	width: 40px;
	height: 40px;
	span::after{
		@include ba-block(24px,3px);
		top: 10px;
		left: 8px;
		background-color: #333;
		border-radius: 4px;
		@include transition;
	}
	span:nth-child(2)::after{
		top: 20px;
	}
	span:nth-child(3)::after{
		top: 20px;
	}
}

.is-open .c-sp-toggle{
	span:first-child::after,
	span:nth-child(3)::after{
		top: 20px;
		transform: rotate(45deg);
	}
	span:nth-child(2)::after{
		transform: rotate(-45deg);
	}
}

.c-sp-nav-wrap{
	display: none;
	width: 300px;
	margin: 0;
	position: fixed;
	top: 0;
	right: -400px;
	z-index: 100;
	background-color: rgba(255,255,255,.8);
	@include transition(.6s);
	@include mq(){
		display: block;
	}
}
.c-sp-nav{
	padding: 2rem 0;
}

.is-open .c-sp-nav-wrap{
	right: 0;
}

.c-sp-nav__list-wrap{
	text-align: left;
	position: relative;
	padding: 16px;
}
.c-sp-nav__list{
	width: 100%;
	height: 60px;
	position: relative;
	padding: 0 24px;
	margin: 0 auto;
	@include transition;
	&:hover{
		opacity: .7;
	}
}